

  // Default Colours //
  /*=========================================================================*/

  $color-white-trans: rgba(255, 255, 255, 0.4);
  $color-darkblue-trans: rgba(30,37,52,.9);
  $color-red:rgb(217,43, 46);
  $color-green: #06c258;

  /*=========================================================================*/




  // General Styles //
  /*=========================================================================*/
  img {
    width: 100%;
  }

  body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
  }

  h1 {
    font-size: 30px;
  }

  h3 {
    margin: 40px 0 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: $color-red;
    text-decoration: none;

    &:hover {
      color: darken($color-red, 15%)
    }
  }

  .color-red {
    color: $color-red;
  }

  .color-green {
  color: $color-green;
  }

  .scrolling {
    background-color: red!important;
  }

  .nav-transparent {
    background-color: rgba($color: #000000, $alpha: 0);
  }


  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
  }

  .btn-primary {
    background-color: $color-red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    border: 1px solid $color-red;
    color: white;
    padding: 0.45rem 1.5rem;

    &:hover {
      background-color: darken($color-red, $amount: 10);
      border-color: darken($color-red, $amount: 10);
    }

    &:focus {
      background-color: darken($color-red, $amount: 10);
      border-color: darken($color-red, $amount: 10);
      box-shadow: none;
    }
  }

  .btn-primary:not(:disabled):not(.disabled):active {
    background-color: darken($color-red, $amount: 10);
    border-color: darken($color-red, $amount: 10);
  }

  .border-div {
    width: 15%;
    height: 1px;
    border-radius: 10px;
    background-color: rgba(30,37,52,.5);
    margin-bottom: 2rem;
  }

  /* Large desktop */
  @media (min-width: 1200px) {
      .container {
        max-width: 1350px;
      }
  }

  /* Desktop */
  @media (min-width: 992px) and (max-width: 1199px) {

  }

  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 991px) {

  }

  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {

  }


  // Navigation Styles //
  /*=========================================================================*/

  #nav {
    padding: 20px 0;
    width: 100%;
    background-color: $color-white-trans;
    position: fixed;
    top: 0;

    transition: 300ms ease-in-out;

    border-bottom: 2px solid rgba(0, 0, 0, 0.125);

    z-index: 99;


    a {
      font-weight: bold;
      color: #34424f;
      text-decoration: none;

      &.router-link-exact-active {
        color: $color-red;
        font-weight: 600;
      }

      &.hover {
        color: orange!important;
      }
    }

    .navlink {
      padding: 0 1.5rem;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 700;
    }
  }

  .banner {
    width: 100%;
    height: 70vh;

    background-image: url("./images/flyffbanner_custom_updated.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 42%;
  }

  /* Large desktop */
  @media (min-width: 1200px) {

  }

  /* Desktop */
  @media (min-width: 992px) and (max-width: 1199px) {

  }

  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 991px) {

  }

  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {

  }






  // Page Template Styles //
  /*=========================================================================*/


  .mainContent {
    padding: 2.5rem 0;
  }

  /* Large desktop */
  @media (min-width: 1200px) {

  }

  /* Desktop */
  @media (min-width: 992px) and (max-width: 1199px) {

  }

  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 991px) {

  }

  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {

  }






  // Footer Styles //
  /*=========================================================================*/

  /* Large desktop */
  @media (min-width: 1200px) {

  }

  /* Desktop */
  @media (min-width: 992px) and (max-width: 1199px) {

  }

  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 991px) {

  }

  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {

  }